@import 'semantic-ui-css/semantic.css';

.ui.form textarea.comment-box {
    resize: none !important;
    min-height: 0;
    height: 100px;
}

.comment-parts {
    display: flex;
    align-items: cneter;
    justify-content: space-between;
}

.comment-specifications {
    display: flex;
    align-items: center;
}

.spec-icon {
    margin-right: 10px;
    color: var(--icon-color);
    cursor: pointer;
}

.comment-button:disabled {
    background: #a4dfcf;
}

.emojis {
    position: relative;
}

.emoji-list {
    position: absolute;
    bottom: -130px;
    left: 40px;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .comment-wrapper {
        padding: 0 15px;
    }
 }