
<div class="ui form comment-wrapper">
    <div class="field">
        <label>Comment</label>
        <!-- use ngx-autoresize -->
        <textarea
            minRows="1"
            class="comment-box" 
            autosize
            [(ngModel)]="comment"
            (input)="activeCommentBTN($event)">
        </textarea>
    </div>
    <div class="comment-parts">
        <div class="comment-specifications">
            <!-- <div class='spec-icon'>
                <i class="paperclip icon"></i>
            </div> -->
            <div class='spec-icon emojis'>
                <i class="smile outline icon" (click)="showEmojiMart()"></i>
                <emoji-mart 
                    class="emoji-list"
                    *ngIf="showEmoji"
                    (emojiSelect)="selectEmoji($event)"
                ></emoji-mart>
            </div>
        </div>
        <button 
            class="comment-button" 
            disabled='true'
            (click)="addComment($event)">
            {{jsonData.button.comment}}
        </button>
    </div>
</div>


