

<div class='home-container' *ngIf="!isDataLoaded">
    <div>
        <!-- showing loader before pots will successfuly added and fetched from the databsae -->
        <div class="loader-for-post" *ngIf="isNewPost">
            <div class="ui fluid placeholder">
                <div class="image header">
                <div class="line"></div>
                <div class="line"></div>
                </div>
                <div class="paragraph">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                </div>
            </div>
        </div>

        <div 
            @fadeHeight 
            class='ec-blog-post' 
            *ngFor="let item of postData; index as i;"
            (click)="routeToBlogDetail($event, item.id, item.followStatus)"
        >
            <div class='user-blog-post r-hide'>
                <img [src]="item.userImage | image: 'profile-image'">
            </div>
            <div class='user-blog-wrapper'>
                <div class="r-cont">
                    <div class='user-blog-post'>
                        <img [src]="item.userImage | image: 'profile-image'">
                    </div>
                    <div class="user-data-cont">
                        <div class="user-intro-follow">
                            <div class='user-blog-info'>
                                <div class='user-blog-name' (click)="goOtherUserProfile(item.userid, $event)">{{ item.userName }}</div>
                                <div class='dot'></div>
                                <div class='user-blog-post-time' [innerHTML]="item.lastUpdateDate | date"></div>
                            </div>
                            <div class='follow-status' *ngIf="item.followStatus">Following</div>
                        </div>
                        <div class="user-unique-id" (click)="$event.stopPropagation()">{{ item.uniqueId }}</div>
                    </div>        
                </div>

                <div class='user-blog-content' [innerHTML]="item.content | anchor" target="_blank" (click)="redirectLink($event)"></div>
                
                <video class="video-fluid z-depth-1 home-videos" controls muted *ngIf="item.video">
                    <source [src]="item?.video" type="video/mp4" />
                </video>
                <div class="user-blog-post-image" *ngIf="item?.image">
                    <img [src]="item?.image | image: 'post-image'">
                </div>
                <div class='blog-activities'>
                    <app-blog-like 
                        [postData]="item" 
                        [user]="user"
                        [likedUserIds]="item.likedUserId"
                    ></app-blog-like>
                    <app-blog-comment [totalComment]="updateCountToPostId === item.id && totalComment" [commentCount]="item.comments?.length"></app-blog-comment>
                    <app-blog-activity-more 
                        [index]="i" 
                        [elemId]="i" 
                        (click)="stopDefaultBehaviour($event)"
                        [postData]="item"
                        [postUserId]="item.userId"
                        [user]="user"
                        [videoUrl]="item.video"
                        [imageUrl]="item.image"
                        (snackbarBookmarkStatus)="handleSnackbarStatus($event)"
                    ></app-blog-activity-more>
                </div>
                <app-blog-all-comments 
                    [postId]="item?.id" 
                    pageName='home'
                    (totalCommentLength)="setCommentsLength($event, item.id)"
                ></app-blog-all-comments>

                <app-blog-comment-input 
                    [index]="i" 
                    [postId]="item.id"
                    [commentsCount]="item.comments.length"
                    (click)="stopDefaultBehaviour($event)"
                ></app-blog-comment-input>
            </div>
        </div>
    </div>


    <app-right-side-menu></app-right-side-menu>
    
</div>

<app-snackbarmodal 
    *ngIf="showSnackbarStatus"
    [text]="snackBarText"
    (snackbarClose)="handleSnackbarClose($event)"
></app-snackbarmodal>

<div *ngIf="isDataLoaded" class="data-loader">
    <div class="ui active centered inline loader"></div>
</div>






<!-- [ifUserLiked]="checkUserIsLiked(item)" -->
