
@import url(../../../../node_modules/bootstrap/dist/css/bootstrap.min.css);

.right-menu-container {
    width: 300px;
    /* background: #f1f1f1; */
    position: fixed;
    right: 10%;
    top: 0;
    overflow-y: auto;
    bottom: 0;
    border-left: 1px solid #ddd;
}

@media screen and (max-width: 768px) {
    .right-menu-container {
        display: none;
    }
}

.media img {
    height: 50px;
}

.media .media-body {
    font-size: .85rem;
}