<div class="right-menu-container p-3">
  <h5 class="font-weight-bold">Popular Posts</h5>
  <hr />
  <ul class="list-unstyled">
    <li class="media mb-3" *ngFor="let post of totalPosts">
      <img
        src="https://ui-avatars.com/api/?background=0D8ABC&color=fff"
        class="mr-3"
      />

      <div class="media-body">
        <h6 class="mt-0 mb-1 text-truncate">What do you want to kn..</h6>
        <div class="flex justify-content-between w-100">
          <span class="mr-2">
            <i class="icon eye"></i>
            <span>100m</span>
          </span>
          <span class="mx-2">
            <i class="icon heart"></i>
            <span>9k</span>
          </span>
          <span class="ml-2">
            <i class="icon comment"></i>
            <span>5k</span>
          </span>
        </div>
      </div>
    </li>
  </ul>

  <h5 class="font-weight-bold">Recent Posts</h5>
  <hr />

  <ul class="list-unstyled">
    <li *ngFor="let post of totalPosts2" class="media mb-3">
      <img
        src="https://ui-avatars.com/api/?background=0D8ABC&color=fff"
        class="mr-3 h-100"
      />

      <div class="media-body">
        <span class="badge badge-danger">Breach</span>
        <h6 class="mt-0 mb-1 text-truncate">What do you want to kn..</h6>
        <div class="d-flex">
          <div class="flex justify-content-between w-100">
            <span class="mr-2">
              <i class="icon eye"></i>
              <span>100m</span>
            </span>
            <span class="mx-2">
              <i class="icon heart"></i>
              <span>9k</span>
            </span>
            <span class="ml-2">
              <i class="icon comment"></i>
              <span>5k</span>
            </span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="right-menu-container p-3">
  <h5 class="font-weight-bold">Popular Posts</h5>
  <hr />
  <ul class="list-unstyled">
    <li class="media mb-3" *ngFor="let post of totalPosts">
      <img
        src="https://ui-avatars.com/api/?background=0D8ABC&color=fff"
        class="mr-3"
      />

      <div class="media-body">
        <h6 class="mt-0 mb-1 text-truncate">What do you want to kn..</h6>
        <div class="flex justify-content-between w-100">
          <span class="mr-2">
            <i class="icon eye"></i>
            <span>100m</span>
          </span>
          <span class="mx-2">
            <i class="icon heart"></i>
            <span>9k</span>
          </span>
          <span class="ml-2">
            <i class="icon comment"></i>
            <span>5k</span>
          </span>
        </div>
      </div>
    </li>
  </ul>

  <h5 class="font-weight-bold">Recent Posts</h5>
  <hr />

  <ul class="list-unstyled">
    <li *ngFor="let post of totalPosts2" class="media mb-3">
      <img
        src="https://ui-avatars.com/api/?background=0D8ABC&color=fff"
        class="mr-3 h-100"
      />

      <div class="media-body">
        <span class="badge badge-danger">Breach</span>
        <h6 class="mt-0 mb-1 text-truncate">What do you want to kn..</h6>
        <div class="d-flex">
          <div class="flex justify-content-between w-100">
            <span class="mr-2">
              <i class="icon eye"></i>
              <span>100m</span>
            </span>
            <span class="mx-2">
              <i class="icon heart"></i>
              <span>9k</span>
            </span>
            <span class="ml-2">
              <i class="icon comment"></i>
              <span>5k</span>
            </span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>