<div class="right-menu-container">

  <div class="popular-post-cont">
    <h5 class="rs-title">Popular Posts</h5>
    <!-- <hr /> -->

    <div class="post-wrapper">
      <div class="popular-post-block" *ngFor="let post of totalPosts; let i = index">
        <div class="popular-media">
          <img *ngIf="i !== 1" [src]="'assets/images/img-'+(i+1)+'.jpg'" />
          <video class="video-fluid z-depth-1 video-des" muted *ngIf="i === 1">
            <source [src]="'assets/videos/vid-'+(i+1)+'.mp4'"  />
          </video>
        </div>

        <div class="popular-post-body">
          <div class="user-detail">
            <div class="user-name">Alex Malcova</div>
            <div class="dot"></div>
            <div class="time-of-post">22 May, 2021</div>
          </div>
          <div class="post-desc">Lorem ipsum dolor sit amet, consectetuer</div>
        </div>

      </div>
    </div>
  </div>



  <div class="popular-post-cont">
    <h5 class="rs-title">You may follow</h5>
    <!-- <hr /> -->

    <div class="post-wrapper">
      <div class="popular-post-block" *ngFor="let post of totalPosts; let i = index">
        <div class="popular-user-flw">
          <img [src]="'assets/images/img-'+(i+1)+'.jpg'" />
        </div>

        <div class="follower-post-body">
          <div class="follower-det">
            <div class="user-detail">
              <div class="user-name-flw">Alex Malcova</div>
            </div>
            <div class="unique-id">@bigban3298%</div>
            <div class="total-followers">100m followers</div>
          </div>

          <button class="follow-user">follow</button>
        </div>

      </div>
    </div>
  </div>

</div>




  