
<div class="ui icon top right pointing dropdown" suiDropdown>
    <i class="ellipsis vertical icon"></i>
    <div class="menu menu-list" suiDropdownMenu>
      <div class="item" (click)="bookmark()">
        <i class="bookmark outline icon" [class.bookmarked]="bookmarkStatus"></i>
        {{ bookmarkText }}
      </div>
      <div class="item" 
        *ngIf="user.id === postUserId"
        (click)="editPost()">
        <i class="edit outline icon"></i>
        Edit
      </div>
      <div class="item" 
        *ngIf="user.id === postUserId"
        (click)="askForDeletePostConfirmation()">
        <i class="trash alternate outline icon"></i>
        Delete
      </div>
    </div>
</div>


<!-- post edit modal -->
<!-- <app-blog-modal 
  *ngIf="modalShow"
  [editPostData]="editPostData"
  (modalStatus)="changeModalStatus()">
</app-blog-modal> -->

