
<div class="ui icon bottom right pointing dropdown">
    <i class="ellipsis vertical icon"></i>
    <div class="menu menu-list">
      <div class="item" (click)="bookmark()">
        <i class="bookmark outline icon" [class.bookmarked]="bookmarkStatus"></i>
        {{ bookmarkText }}
      </div>
      <div class="item" *ngIf="userId === postUserId">
        <i class="edit outline icon"></i>
        Edit
      </div>
      <div class="item" 
        *ngIf="userId === postUserId"
        (click)="deletePost()">
        <i class="trash alternate outline icon"></i>
        Delete
      </div>
    </div>
</div>

