/* @import 'semantic-ui-css/semantic.css'; */

.user-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
    animation: rolling .9s linear forwards;
    position: relative;
}

@keyframes rolling {
    0% {
        transform: rotate(-50deg);
        left: -50px;
    }
    60% {
        left: 20px;
        transform: rotate(30deg);
    }
    80% {
        left: -10px;
        transform: rotate(-10deg);
    }
    90% {
        left: 5px;
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
        left: 0;
    }
}

.user-image img {
    width: 100%;
    height: 100%;
}

.data-loader {
    height: 100vh;
}

.data-loader .loader {
    top: 50%;
    transform: translateY(-50%);
}

.user-name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
}

.user-unique-name {
    color: #666;
    font-size: 14px;
}

.flr-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.u-flrn {
    background: var(--prime-color);
    font-size: 12px;
    line-height: 8px;
}

.u-flrn-txt {
    font-size: 12px !important;
}

.txt-desgn {
    color: #000 !important;
}

.btn-gap {
    margin-right: 10px;
}

.ec-blog-post {
    display: flex;
    padding: 10px 15px;
    background: #f5f5f8;
    text-decoration: none;
    transition: 0.3s;
    flex-wrap: wrap;
    cursor: pointer;
}

.ec-blog-post:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.ec-blog-post:last-child {
    padding-bottom: 50px !important;
}

.ec-blog-post:hover {
    background: #ededed;
}

.user-blog-post {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.user-blog-post img {
    width: 100%;
    height: 100%;
}

.user-blog-wrapper {
    flex: 1;
}

.user-blog-info {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.user-blog-name {
    font-weight: bold;
    text-transform: capitalize;
    color: #000;
}

.dot {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #828282;
    margin: 0 10px;
}

.user-blog-post-time {
    color: #747474;
    font-size: 13px;
}

.user-blog-content {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #4b4b4b;
}

.video-fluid {
    width: 100%;
    height: auto;
}

.blog-activities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-blog-post-image img {
    width: 100%;
}
 
.profile-cont {
    position: relative;
}

.edit-icon {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 18px;
    padding: 0 5px;
    cursor: pointer;
    transition: 0.1s;
}

.edit-icon:hover {
    color: var(--prime-color);
}

.user-info {
    margin-bottom: 40px;
}