
.notifications {
    display: flex;
    padding: 10px 15px;
    cursor: pointer;
}

.nt-user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.nt-user-image img {
    width: 100%;
    height: auto;
}

.nt-content {
    flex: 1;
    margin-left: 10px;
}

.nt-user-name {
    font-weight: bold;
    text-transform: capitalize;
    color: #000;
}

.nt-user-post {
    margin-bottom: 15px;
    color: #4b4b4b;
}

.not-read {
    background: var(--secondary-color);
}

.dot {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #828282;
    margin: 0 10px;
}

.user-blog-post-time {
    color: #747474;
    font-size: 13px;
}

.user-blog-info {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.data-loader {
    height: 100vh;
}

.data-loader .loader {
    top: 50%;
    transform: translateY(-50%);
}