<div class="notification-container" *ngIf="!isDataLoaded && postToShowInNotification?.length > 0">
    
    <div 
        class="notifications" 
        *ngFor="let item of postToShowInNotification; index as i"
        [class.not-read]="checkRead(item.read)"
        (click)="changeReadStatus(item)"
    >
        <div class="nt-user-image">
            <img [src]="item.userImage">
        </div>
        <div class="nt-content">
            <div class="notification-info">
                <div class='user-blog-info'>
                    <div class="nt-user-name">{{ item.userName }}</div>
                    <div class='dot'></div>
                    <div class='user-blog-post-time'>{{ date.postDateFormat(item.postDate) }}</div>
                </div>
                <div class="nt-user-post">
                    {{ item.contents }} 
                </div>
            </div>
            <div class="dlt-cmnt" (click)="deleteNotification(i, item.id, item.notificationId, $event, item.deletedBy)">
                <i class="trash alternate outline icon" *ngIf="i !== deleteIndex"></i>
                <div class="ui active mini inline loader" *ngIf="deleteLoader && i === deleteIndex"></div>
            </div>
        </div>
    </div>


    <app-right-side-menu></app-right-side-menu>
</div>

<div *ngIf="isDataLoaded" class="data-loader">
    <div class="ui active centered inline loader"></div>
</div>
