
<div class='all-comment-container'>
    <ng-container *ngIf="commentData.length > 0">
        <div class="each-comments-wrapper" *ngFor="let item of commentData; index as i">
            <div class="comment-user">
                <img [src]="item?.userImage">
            </div>
            <div class='comment-details'>
                <div>
                    <div class='comment-user-indentity'>
                        <div class="comment-user-name">{{ item.userName }}</div>
                        <div class="dot"></div>
                        <div class='comment-post-time' [innerHTML]="item.commentTime | date"></div>
                    </div>
                    <div class="comment-user-id">{{ item.uniqueUserId }}</div>
                    <div class="comment-text">
                        {{ item?.text }}
                    </div>
                </div>
                <div class="dlt-cmnt" (click)="deleteComment(i, item?.id, $event)" *ngIf="item?.commentedUserId === userId">
                    <i class="trash alternate outline icon" *ngIf="i !== deleteIndex"></i>
                    <div class="ui active mini inline loader" *ngIf="deleteLoader && i === deleteIndex"></div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
