@import 'semantic-ui-css/semantic.css';

.all-comment-container {
    margin-top: 40px;
}
.each-comments-wrapper {
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
}

.comment-user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.comment-user img {
    width: 100%;
    height: 100%;
}

.comment-details {
    flex: 1;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.dlt-cmnt {
    cursor: pointer;
}

.dlt-cmnt i {
    font-size: 13px;
}

.comment-user-indentity {
    display: flex;
    align-items: center;
}

.comment-user-name {
    font-weight: bold;
    text-transform: capitalize;
    color: #000;
}