
<div class='all-comment-container'>
    <div class="each-comments-wrapper">
        <div class="comment-user">
            <img src='./assets/images/user_default.jpg'>
        </div>

        <div class='comment-details'>
            <div class='comment-user-indentity'>
                <div class="comment-user-name">sara samkova</div>
                <div class="dot"></div>
                <div class='comment-post-time'>Jul 20, 2020</div>
            </div>
            <div class="comment-user-id">@username123</div>
            <div class="comment-text">
                What are the odds ?
            </div>
        </div>
    </div>



    <div class="each-comments-wrapper">
        <div class="comment-user">
            <img src='./assets/images/user_default.jpg'>
        </div>

        <div class='comment-details'>
            <div class='comment-user-indentity'>
                <div class='comment-user-name'>sara samkova</div>
                <div class="dot"></div>
                <div class='comment-post-time'>Jul 20, 2020</div>
            </div>
            <div class="comment-user-id">@username123</div>
            <div class="comment-text">
                What are the odds ?
            </div>
        </div>
    </div>
</div>
