
<div class='all-comment-container'>
    <div class="each-comments-wrapper" *ngFor="let item of commentData">
        <div class="comment-user">
            <img [src]='item.user.imageURL'>
        </div>

        <div class='comment-details'>
            <div class='comment-user-indentity'>
                <div class="comment-user-name">{{ item.user.name}}</div>
                <div class="dot"></div>
                <div class='comment-post-time'>{{ item.postDate }}</div>
            </div>
            <div class="comment-user-id">{{ item.user.uniqueId }}</div>
            <div class="comment-text">
                {{ item.commentText }}
            </div>
        </div>
    </div>
</div>
