
.user-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
    position: relative;
}

.user-image img {
    width: 100%;
    height: 100%;
}

.change-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 179, 131, 0.3);
    z-index: 1;
    height: 60px;
    cursor: pointer;
}

.change-img i {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

#change-img {
    display: none;
}

.edit-profile-btn {
    background: var(--prime-color);
    border: 0;
    color: #fff;
    padding: 12px 25px;
    border-radius: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.dialog-title {
    color: #000;
 }

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: var(--prime-color);
}

::ng-deep .mat-button.mat-primary .mat-button-focus-overlay, 
::ng-deep .mat-icon-button.mat-primary .mat-button-focus-overlay, 
::ng-deep .mat-stroked-button.mat-primary .mat-button-focus-overlay {
    background-color: var(--prime-color);
    opacity: 0.08;
}

::ng-deep .mat-button:hover:not(.mat-button-disabled) 
::ng-deep .mat-button-focus-overlay, 
::ng-deep .mat-stroked-button:hover:not(.mat-button-disabled) 
::ng-deep .mat-button-focus-overlay {
    opacity: 0.10 !important;
}

.userName {
    text-transform: capitalize;
}