<!-- 
<sui-modal 
    size="small"
    [isClosable]="true" 
    (dismissed)="closeModal($event)" 
    *ngIf="isDataLoaded"
    >
    <div class="content" [formGroup]="editForm">
        <label for="change-img">
            <div class="user-image">
                <img [src]="editForm.get('imageUrl').value">
                <div class="change-img">
                    <i class="camera icon"></i>
                </div>
            </div>
        </label>
        <input 
            type="file" 
            id="change-img"
            (change)='loadFile($event)'
            formControlName="imageUrl"
            accept="image/png, image/jpeg, image/jpg, image/GIF"
        >
        

        <div class="edit-field">
            <label>Name</label>
            <div class="ui fluid icon input">
                <input 
                    type="text" 
                    placeholder="Name" 
                    formControlName="uname"
                >
            </div>
        </div>
    </div>
    <div class="actions">
        <button class="edit-profile-btn loading" (click)="saveProfile()" autofocus>Save</button>
    </div>
</sui-modal> -->


<div class="container">
    <h1 mat-dialog-title class="dialog-title">Edit Profile</h1>
    <form [formGroup]="editForm">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Name</mat-label>
            <input 
                type="text" 
                matInput 
                formControlName="name" 
                name="name"
                class="userName">
        </mat-form-field>
        
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="f">Female</mat-option>
              <mat-option value="m">Male</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Phone</mat-label>
            <input type="text" matInput formControlName="phone" name="phone">
        </mat-form-field>        
    </form>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button mat-dialog-close color="primary" (click)="updateProfile()">Submit</button>
    </mat-dialog-actions>
</div>

<app-snackbarmodal 
    *ngIf="showSnackbarStatus"
    [text]="snackbarText"
></app-snackbarmodal>


<!-- <div *ngIf="isDataLoaded" class="data-loader">
    <div class="ui active centered inline loader"></div>
</div> -->
