
<sui-modal 
    size="small"
    [isClosable]="true" 
    (dismissed)="closeModal($event)" 
    *ngIf="isDataLoaded"
    >
    <!-- <div class="header">Example</div> -->
    <div class="content" [formGroup]="editForm">
        <label for="change-img">
            <div class="user-image">
                <img [src]="editForm.get('imageUrl').value">
                <div class="change-img">
                    <i class="camera icon"></i>
                </div>
            </div>
        </label>
        <input 
            type="file" 
            id="change-img"
            (change)='loadFile($event)'
            formControlName="imageUrl"
            accept="image/png, image/jpeg, image/jpg, image/GIF"
        >
        

        <div class="edit-field">
            <label>Name</label>
            <div class="ui fluid icon input">
                <input 
                    type="text" 
                    placeholder="Name" 
                    formControlName="uname"
                >
            </div>
        </div>
    </div>
    <div class="actions">
        <button class="edit-profile-btn loading" (click)="saveProfile()" autofocus>Save</button>
    </div>
</sui-modal>


<!-- <div *ngIf="isDataLoaded" class="data-loader">
    <div class="ui active centered inline loader"></div>
</div> -->
