@import url("../../../../../node_modules/bulma/css//bulma.min.css");

.sm-input {
  padding: 0.4rem;
}

.cont {
  padding: 0.8rem;
}

.flex {
  display: flex;
}

.centered {
  justify-content: space-between;
  align-items: center;
}
