<div>
  <div class="cont">
    <div class="top-section space-between flex align-item-center">
      <div class="title-left">
        <h4 class="stat-title">Statistics</h4>
        <div class="date-time flex align-item-center">
          <div class="cur-time">01:30 pm</div>
          <div class="dot"></div>
          <div class="cur-date">20 May 2021</div>
        </div>
      </div>
      <div class="ui toggle checkbox">
        <input 
          type="checkbox"
          name="a"
          (change)="togglePayment()"
          [checked]="isPaymentModeOn"
        >
        <label class="ml-2 has-text-success" *ngIf="isPaymentModeOn">Payment mode is active</label>
        <label class="ml-2 has-text-info" *ngIf="!isPaymentModeOn">Turn on payment mode.</label>
      </div>
    </div>

    <div class="ui hidden divider"></div>

    <!-- Balance Row #start -->
    <div class="balance-box">
      <div class="user-earnings" #earning>
        <!-- Earning title #start -->
        <div class="earning-title">
          <i class="money bill alternate outline icon"></i>
          <div>Your total <span class="site-color">earnings</span></div>
        </div>
        <!-- Earning title #end -->

        <!-- Earning ammount #start -->
        <div class="earning-amnt">
          <i class="rupee sign icon"></i>
          <div>1,90,500</div>
        </div>
        <!-- Earning ammount #end -->

        <!-- Earning percentage variation #start -->
        <div class="earning-variation" *ngIf="incomeStatus">
          You have earned <span class="percentage-up">12%</span> more than the previous month
        </div>

        <div class="earning-variation" *ngIf="!incomeStatus">
          You have earned <span class="percentage-down">30%</span> less than the previous month
        </div>
        <!-- Earning percentage variation #end -->

        <!-- Widtraw money button #start -->
        <button class="withdraw-btn">Withdraw Money</button>
        <!-- Widtraw money button #end -->
      </div>

      <!-- showing earning chart #start-->
      <div id="chart" class="chart-desg" #chartBlock>
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
          [yaxis]="chartOptions.yaxis"
        ></apx-chart>
      </div>
      <!-- showing earning chart #end-->
    </div>
    <!-- Balance Row #row -->

    <div class="ui divider"></div>

    <!-- filter #start-->
    <div class="filters-box">
      <input type="month" [formControl]="monthAndYear" />
    </div>
    <!-- filter #end -->


    <div class="ui hidden divider"></div>

    <!-- Filtered Results #start -->
    <table class="ui green four small striped center aligned table">
      <thead>
        <tr class="table-header-row">
          <th>Month</th>
          <th>Total Upload</th>
          <th>Views</th>
          <th>Earning</th>
        </tr>
      </thead>
      <tbody class="table-data-row">
        <tr>
          <td class="is-size-6">January</td>
          <td class="is-size-6">5</td>
          <td class="is-size-6">100K</td>
          <td class="is-size-6">
            {{ "1500" | currency: "INR" }}
          </td>
        </tr>

        <tr>
          <td class="is-size-6">February</td>
          <td class="is-size-6">3</td>
          <td class="is-size-6">70,567</td>
          <td class="is-size-6">
            {{ "900" | currency: "INR" }}
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Filtered Results #end -->
  </div>
</div>

<!-- Payment Terms Modal #start -->
<sui-modal
  size="medium"
  [isClosable]="false"
  (dismissed)="toggleModal($event)"
  *ngIf="isPaymentTermsModalOpen"
>
  <div class="content">
    <h1>{{ isPaymentModeOn }}</h1>
    <div class="ui steps fluid">
      <div
        [class.completed]="term.isAccepted"
        [class.disabled]="i + 1 !== currentAcceptedStepIndex"
        class="step"
        *ngFor="let term of termsList; let i = index"
      >
        <ng-container>
          <i class="handshake icon"></i>
          <div class="content">
            <div class="title">Term {{ currentAcceptedStepIndex }}</div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="description">
      {{ currentStepContent }}
    </div>
  </div>
  <div class="actions">
    <button class="positive ui button" (click)="nextStep()">
      {{ currentAcceptedStepIndex === 3 ? "Accept and Close" : "Next" }}
    </button>
  </div>
</sui-modal>
<!-- Payment Terms Modal #end -->
