<div class="bookmarks-container">
    <ng-container *ngIf="bookmarkData && commentData">
        <div 
            @fadeHeight
            class='ec-blog-post' 
            *ngFor="let bookmark of bookmarkData; index as i;"
            (click)="routeToBlogDetail($event, bookmark.id)">
            <div class='user-blog-post'>
                <img [src]="bookmark.userImage | image: 'profile-image'">
            </div>
            <div class='user-blog-wrapper'>
                <div class="user-intro-follow">
                    <div class='user-blog-info'>
                        <div class='user-blog-name'>{{ bookmark.userName }}</div>
                        <div class='dot'></div>
                        <div class='user-blog-post-time' [innerHTML]="bookmark.lastUpdateDate | date"></div>
                    </div>
                </div>
                <div class="user-unique-id">{{ bookmark.uniqueId }}</div>
                <div class='user-blog-content' *ngIf="bookmark?.content">
                    {{ bookmark.content }}
                </div>
                <div class="user-blog-post-image" *ngIf="bookmark?.image">
                    <img [src]="bookmark?.image | image: 'post-image'">
                </div>
                <div class='blog-activities'>
                    <app-blog-like 
                        [postData]="bookmark" 
                        [user]="user"
                        [likedUserIds]="bookmark.likedUserId"
                    ></app-blog-like>
                    <app-blog-comment [commentCount]="(commentData | comment: bookmark.id).length"></app-blog-comment>
                    <app-blog-activity-more
                        [index]="i" 
                        [elemId]="i" 
                        [postData]="bookmark"
                        [postUserId]="bookmark.userId"
                        [user]="user"
                        [videoUrl]="bookmark.video"
                        [imageUrl]="bookmark.image"
                        (click)="stopDefaultBehaviour($event)"
                        (snackbarBookmarkStatus)="handleSnackbarStatus($event)"
                        (removeFromArray)="handleBookmarkRemove($event)">
                    </app-blog-activity-more>
                </div>

                <app-blog-all-comments
                    [userId]="user?.id" 
                    [post]="item"
                    [postId]="item?.id"
                    pageName='home'
                    [allComment]="commentData | comment: bookmark.id"
                    (deleteStatus)="removeComment($event)"
                ></app-blog-all-comments>

                <app-blog-comment-input 
                    [index]="i" 
                    [postId]="bookmark.id"
                    [user]="user"
                    (click)="stopDefaultBehaviour($event)"
                    (showNewComment)="addNewComment($event)"
                ></app-blog-comment-input>
            </div>
        </div>
    </ng-container>

    <app-right-side-menu></app-right-side-menu>
</div>

<app-snackbarmodal 
    *ngIf="showSnackbarStatus"
    [text]="snackBarText"
    (snackbarClose)="handleSnackbarClose($event)"
></app-snackbarmodal>
