<sui-modal size="tiny" [isClosable]="true" (dismissed)="cancelBlog()" #modal>
    <div class="header">POST</div>
    <div class="content">
      
      <div class="blog-write-container">
        <!-- blog owner image -->
        <div class="blog-owner-image">
          <img [src]="userImage">
        </div>

        <!-- writing and editing blog -->
        <form class="ui form blog-write-form" [formGroup]="postForm">
          <div class="field textarea-field">
              <textarea
                formControlName="content"
                minRows="1"
                class="post-box"
                autosize
                (focus)="statusPlaceholder()"
                (blur)="statusPlaceholderBlur($event.target.value)"
                [(ngModel)]="comment"
                (input)="activeCommentBTN($event)">
              </textarea>

              <label class="text-placeholder" *ngIf="isPlaceholder">What's on your mind...?</label>
          </div>
          <!-- attach images and videos to the blog and post button-->
          <div class="attach-btn">
            <div class="attach-icons">

              <label class='upload-pic'>
                <i class="image outline icon"></i>
                <input 
                  (change)="loadFile($event, 'image')" 
                  type="file"
                  value=""
                  accept="image/*"
                  #imageUpload>
              </label>
              
              <label class='upload-pic'>
                <i class="video icon"></i>
                <input 
                  (change)="loadFile($event, 'video')"
                  type='file'
                  value=""
                  accept="video/*"
                  #videoUpload>
              </label>

              <label class='upload-pic emojis'>
                <i class="smile outline icon" (click)="showEmojiMart()"></i>
                <emoji-mart 
                    class="emoji-list"
                    *ngIf="showEmoji"
                    (emojiSelect)="selectEmoji($event)"
                ></emoji-mart>
                <!-- <input (change)='loadFile($event)' type='file'> -->
              </label>


              <!-- <div class='spec-icon emojis'>
                <i class="smile outline icon" (click)="showEmojiMart()"></i>
                <emoji-mart 
                    class="emoji-list"
                    *ngIf="showEmoji"
                    (emojiSelect)="selectEmoji($event)"
                ></emoji-mart>
              </div> -->




            </div>
            <button class="blog-post-btn" [disabled]="postButton" (click)="postBlog($event)">
              {{ jsonData.button.post }}
            </button>
          </div>

          <div class="added-img">
            <img class="ui image" *ngIf="imageURL" [src]="this.postForm.get('imageUrl').value">
            <video class="video-fluid z-depth-1 upload-video" controls muted *ngIf="videoURL">
              <source [src]="this.postForm.get('videoUrl').value" type="video/mp4" />
            </video>
            <button 
              class="ui red button dlt-btn" 
              *ngIf="imageURL || videoURL" 
              (click)="deleteImage()"
            >
              {{ jsonData.button.delete }}
            </button>
          </div>
        </form>
      </div>

      <!-- <div *ngIf="percentageUpload | async as pct">{{ pct | number }}%</div>
      <div class="ui segment" *ngIf="percentageUpload | async as pct">
        <sui-progress class="top attached purple active" [value]="pct | number" [autoSuccess]="false"></sui-progress>
        <sui-progress class="indicating" [value]="pct | number">Indicating</sui-progress>
      </div> -->

    </div>

    <div *ngIf="isBlogPost">
      <div class="ui active dimmer">
        <div class="ui loader"></div>
      </div>
    </div>
</sui-modal>