<sui-modal size="tiny" [isClosable]="true" (dismissed)="cancelBlog()" #modal>
    <div class="header">POST</div>
    <div class="content">
      
      <div class="blog-write-container">
        <!-- blog owner image -->
        <div class="blog-owner-image">
          <img src="assets/images/user_default.jpg">
        </div>

        <!-- writing and editing blog -->
        <form class="ui form blog-write-form" [formGroup]="postForm">
          <div class="field textarea-field">
              <textarea
                formControlName="content"
                minRows="1"
                class="post-box"
                autosize
                (focus)="statusPlaceholder()"
                (blur)="statusPlaceholderBlur($event.target.value)"
                (input)="activeCommentBTN($event)">
              </textarea>

              <label class="text-placeholder" *ngIf="isPlaceholder">What's on your mind...?</label>
          </div>
          <!-- attach images and videos to the blog and post button-->
          <div class="attach-btn">
            <div class="attach-icons">

              <label class='upload-pic'>
                <i class="image outline icon"></i>
                <input (change)='loadFile($event)' type='file'>
              </label>
              
              <label class='upload-pic'>
                <i class="video icon"></i>
                <!-- <input (change)='loadFile($event)' type='file'> -->
              </label>

              <label class='upload-pic'>
                <i class="smile outline icon"></i>
                <!-- <input (change)='loadFile($event)' type='file'> -->
              </label>
            </div>
            <button class="blog-post-btn" [disabled]="postButton" (click)="postBlog($event)">
              {{ jsonData.button.post }}
            </button>
          </div>

          <div class="added-img">
            <img class="ui small image" [src]="imageURL">
            <button class="ui red button dlt-btn" *ngIf="imageURL" (click)="deleteImage()">
              {{ jsonData.button.delete }}
            </button>
          </div>
        </form>
      </div>

    </div>

    <div *ngIf="isBlogPost">
      <div class="ui active dimmer">
        <div class="ui loader"></div>
      </div>
    </div>
</sui-modal>