
@import 'semantic-ui-css/semantic.css';

.validations {
    color:red;
}

.blog-write-container {
    display: flex;
    align-items: flex-start;
}

.blog-owner-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 5px;
    overflow: hidden;
}

.blog-owner-image img {
    width: 100%;
}

.blog-write-form {
    flex: 1;
    margin-top: 10px;
}

.ui.form textarea.post-box {
    resize: none !important;
    border: 0;
    outline: none;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.attach-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attach-icons {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
}

.attach-icons i {
    margin-right: 10px;
}

.blog-post-btn {
    background: var(--prime-color);
    border: 0;
    color: #fff;
    padding: 12px 25px;
    border-radius: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.blog-post-btn:disabled {
    background: #a4dfcf;
}

.textarea-field {
    position: relative;
}

.ui.form .field > label.text-placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 17px;
    color: #999;
    font-weight: normal;
    padding-left: 0 !important;
}

.added-img {
    display: flex;
    align-items: flex-end;
}

.dlt-btn {
    margin-left: 10px !important;
    font-size: 14px !important;
}

.upload-pic input {
    display: none;
}

.emojis {
    position: relative;
}

.emoji-list {
    position: absolute;
    bottom: -130px;
    left: 40px;
}
