@import 'semantic-ui-css/semantic.css';

:host {
    width: 250px;
}
.side-menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 250px;
    overflow-y: auto;
    border-right: 1px solid #ddd;
    background: #fff;
    z-index: 11;
}

.side-menu-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.side-menu-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* app logo design */
.app-logo {
    border-radius: 10px;
    color: var(--prime-color);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

/* user info start */
.user-info {
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.user-name-id {
    flex: 1;
    margin-left: 10px;
    line-height: 20px;
}

.user-name {
    color: #000;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
}

.user-id {
    color: #666;
    font-size: 14px;
    margin-top: 2px;
    text-transform: lowercase;
}
/* user info end */


.blog-post-button {
    width: 80%;
    border: 0;
    background: var(--prime-color);
    border-radius: 20px;
    padding: 12px 0;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 768px) {
    :host {
        width: 0;
    }
    .side-menu-container {
        transition: .3s;
        left: -100%;
        padding-left: 15px;
        width: 80%;
    }
    .showMenu.side-menu-container {
        left: 0;
    }
}