:host {
    background: #f1f1f1;
    width: 300px;
}
.side-menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}

/* app logo design */
.app-logo {
    border-radius: 10px;
    color: var(--prime-color);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

/* user info start */
.user-info {
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.user-image {
    background: url('/assets/images/user_default.jpg') no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-name-id {
    flex: 1;
    margin-left: 10px;
    line-height: 20px;
}

.user-name {
    color: #000;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
}

.user-id {
    color: #666;
}
/* user info end */