
<div class="ui form comment-wrapper">
    <div class="field">
        <label>Comment</label>
        <!-- use ngx-autoresize -->
        <textarea 
            minRows="2"
            class="comment-box" 
            autosize
            [(ngModel)]="comment"
            (input)="activeCommentBTN($event)">
        </textarea>
    </div>
    <div class="comment-parts">
        <div class="comment-specifications">
            <div class='spec-icon'>
                <i class="paperclip icon"></i>
            </div>
            <div class='spec-icon'>
                <i class="smile outline icon"></i>
            </div>
        </div>
        <button 
            class="comment-button" 
            disabled='true'
            (click)="getInputValue()">
            {{jsonData.button.comment}}
        </button>
    </div>
</div>