
<div class='home-container' *ngIf="!isDataLoaded">
    <div class='home-wrapper'>

        <div class='ec-blog-post'>
            <div class='user-blog-post r-hide'>
                <img [src]="postData.userImage">
            </div>
            <div class='user-blog-wrapper'>
                <div class="r-cont">
                    <div class='user-blog-post'>
                        <img [src]="postData.userImage">
                    </div>
                    <div class="user-data-cont">
                        <div class="user-intro-follow">
                            <div class='user-blog-info'>
                                <div class='user-blog-name' (click)="goOtherUserProfile(postData.userid)">{{ postData.userName }}</div>
                                <div class='dot'></div>
                                <div class='user-blog-post-time'>{{ date.postDateFormat(postData.postDate) }}</div>
                            </div>
                            <div class='follow-status' *ngIf="followStatus">Following</div>
                        </div>
                        <div class="user-unique-id">{{ postData.uniqueId }}</div>
                    </div>
                </div>
                <div class='user-blog-content' [innerHTML]="postData.contents | anchor"></div>
                <video class="video-fluid z-depth-1 detail-video" autoplay loop controls muted *ngIf="postData.video">
                    <source [src]="postData.video" type="video/mp4" />
                </video>
                <div class="user-blog-post-image" *ngIf="postData.image">
                    <img [src]="postData.image">
                </div>
                <div class='blog-activities'>
                    <app-blog-like [postId]="postData?.id" [likedUserIds]="postData?.likedUserId"></app-blog-like>
                    <app-blog-comment [commentCount]="postData.comments?.length"></app-blog-comment>
                    <app-blog-activity-more 
                        [index]="0" 
                        [elemId]="0" 
                        (click)="stopDefaultBehaviour($event)"
                        [postId]="postData?.id"
                        [postUserId]="postData?.userid"
                    ></app-blog-activity-more>
                </div>
                <app-blog-all-comments [postId]="postData?.id"></app-blog-all-comments>
                <app-blog-comment-input 
                    [index]="0" 
                    [postId]="postData.id"
                    (click)="stopDefaultBehaviour($event)">
                </app-blog-comment-input>
            </div>
        </div>
    </div>


    <app-right-side-menu></app-right-side-menu>
</div>

<div *ngIf="isDataLoaded" class="data-loader">
    <div class="ui active centered inline loader"></div>
</div>
