/* You can add global styles to this file, and also import other style files */
/* @import 'bootstrap/dist/css/bootstrap.css'; */
@import 'semantic-ui-css/semantic.css';
@import 'bulma/css/bulma.css';

:root {
    --prime-color: #00b383;
}
