
<div class='home-container'>
    <div class='home-wrapper'>

        <div class='ec-blog-post' (click)="routeToBlogDetail($event)">
            <div class='user-blog-post'></div>
            <div class='user-blog-wrapper'>
                <div class='user-blog-info'>
                    <div class='user-blog-name'>Sophia grace</div>
                    <div class='dot'></div>
                    <div class='user-blog-post-time'>22h</div>
                </div>
                <div class='user-blog-content'>
                    Black Lives Matter protesters in Utah, US, who 
                    splashed paint on prosecutor's office, could face life 
                    sentences for acting as a 'gang'.
                </div>
                <video class="video-fluid z-depth-1" autoplay loop controls muted>
                    <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
                </video>
                <div class='blog-activities'>
                    <app-blog-like></app-blog-like>
                    <app-blog-comment></app-blog-comment>
                    <app-blog-activity-more index="0" elemId="more-activity1" (click)="stopDefaultBehaviour($event)"></app-blog-activity-more>
                </div>
                <app-blog-all-comments></app-blog-all-comments>
                <app-blog-comment-input index="0" (click)="stopDefaultBehaviour($event)"></app-blog-comment-input>
            </div>
        </div>


        <div class='ec-blog-post'>
            <div class='user-blog-post'></div>
            <div class='user-blog-wrapper'>
                <div class='user-blog-info'>
                    <div class='user-blog-name'>Sophia grace</div>
                    <div class='dot'></div>
                    <div class='user-blog-post-time'>22h</div>
                </div>
                <div class='user-blog-content'>
                    Black Lives Matter protesters in Utah, US, who 
                    splashed paint on prosecutor's office, could face life 
                    sentences for acting as a 'gang'.
                </div>
                <div class="user-blog-post-image">
                    <img src="../assets/images/blog1.jpg">
                </div>
                <div class='blog-activities'>
                    <app-blog-like></app-blog-like>
                    <app-blog-comment></app-blog-comment>
                    <app-blog-activity-more index="1" elemId="more-activity2" (click)="stopDefaultBehaviour($event)"></app-blog-activity-more>
                </div>
                <app-blog-all-comments></app-blog-all-comments>
                <app-blog-comment-input index="1" (click)="stopDefaultBehaviour($event)"></app-blog-comment-input>
            </div>
        </div>
    </div>


    <app-right-side-menu></app-right-side-menu>
</div>
