
@import 'semantic-ui-css/semantic.css';

/* each blog details */
.ec-blog-post {
    display: flex;
    padding: 10px 15px;
    background: #f5f5f8;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.ec-blog-post:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.ec-blog-post:hover {
    background: #ededed;
}

.user-blog-post {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.user-blog-post img {
    width: 100%;
    height: 100%;
}

.user-blog-wrapper {
    flex: 1;
}

.user-blog-info {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.user-blog-name {
    font-weight: bold;
    text-transform: capitalize;
    color: #000;
}

.dot {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #828282;
    margin: 0 10px;
}

.user-blog-post-time {
    color: #747474;
    font-size: 13px;
}

.user-blog-content {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #4b4b4b;
    word-break: break-all;
    display: inline-block;
}

.video-fluid {
    width: 100%;
    height: auto;
}

.blog-activities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-unique-id {
    color: #666;
    font-size: 14px;
    cursor: text;
    display: inline-block;
}

.user-intro-follow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.follow-status {
    font-size: 13px;
    color: var(--third-color);
    font-weight: bold;
}

.user-blog-post-image {
    text-align: center;
    width: 100%;
}

.user-blog-post-image img {
    width: 100%;
}

.data-loader {
    height: 100vh;
}

.data-loader .loader {
    top: 50%;
    transform: translateY(-50%);
}

.user-blog-name:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--prime-color);
}

.r-cont {
    display: flex;
}

.r-cont .user-blog-post {
    display: none;
}

.home-videos {
    width: 100%;
    max-height: 300px;
}

.user-data-cont {
    flex: 1;
}

@media screen and (max-width: 768px) {
    .r-cont .user-blog-post {
        display: block;
    }
    .r-hide {
        display: none;
    }
    .ec-blog-post {
        padding: 10px 0;
    }
    .r-cont,
    .user-blog-content,
    .blog-activities {
        padding: 0 15px;
    }
}