/* @import 'semantic-ui-css/semantic.css'; */
@import 'bulma/css/bulma.css';

/* each blog details */
.ec-blog-post {
    display: flex;
    padding: 10px 15px;
    background: #f5f5f8;
    text-decoration: none;
    transition: 0.3s;
}

.ec-blog-post:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.ec-blog-post:hover {
    background: #ededed;
}

.user-blog-post {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.user-blog-post img {
    width: 100%;
}

.user-blog-wrapper {
    flex: 1;
    margin-left: 10px;
}

.user-blog-info {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.user-blog-name {
    font-weight: bold;
    text-transform: capitalize;
    color: #000;
}

.dot {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #828282;
    margin: 0 10px;
}

.user-blog-post-time {
    color: #747474;
    font-size: 13px;
}

.user-blog-content {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #4b4b4b;
}

.video-fluid {
    width: 100%;
    height: auto;
}

.blog-activities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-unique-id {
    color: #666;
    font-size: 14px;
}

.user-intro-follow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.follow {
    border: 1px solid #666;
    background: none;
    border-radius: 4px;
    padding: 6px 15px;
    color: #666;
    font-size: 14px;
    outline: none;
}

.is-following {
    background: var(--prime-color);
    color: #fff;
    border-color: var(--prime-color);
}